/* New CSS */

.cg-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 56px);
    padding-bottom: calc(56px * 0.5);
}
.cg-card {
    width: 50%;
    min-width: 300px !important;
    max-width: 800px;
}
.cg-submit-button {
    width: 50%;
    margin-left: 25%;
}
.cg-center-horiz {
    width: 100%;
    display: flex;
    justify-content: center;
}
